body{
    margin: 0px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;;
}

header{
    background-color: yellow;
    color: white;
    border-bottom: 5px solid red;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 10px auto;
}

.logo{
    width: 100px;
    height: 100px;
}

ul{
    text-align: center;
    font-size: 25px;
}

li{
    display: inline;
    margin-right: 90px;
}

a{
    text-decoration: none;
    color: white;
    align-items: center;
}

a:hover{
    color: black;
}

.about{
    background: black;
    border-bottom: 5px solid red;
}

.about .division{
    display: flex;
    padding: 20px;
}

.division{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}

.text{
    color: #fff;
    padding: 50px 50px 50px 0;
    flex: 1;
}

.image{
    flex: 1;
}

.image img{
    width: 420px;
    height: 420px;
}

.footer{
    background-color: yellow;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.footer img{
    width: 150px;
    height: 150px;
}

.footer p{
   color: black;
}